<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
   
	<servlet>
		
		<servlet-name>user_registration</servlet-name>
		<servlet-class>com.servlet.user_registration</servlet-class>
	
	</servlet>
	
	
	<servlet-mapping>
		
		<servlet-name>user_registration</servlet-name>
		<url-pattern>/insert</url-pattern>
	
	</servlet-mapping>
	
	
	<servlet>
		
		<servlet-name>user_login</servlet-name>
		<servlet-class>com.servlet.user_login</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>user_login</servlet-name>
		<url-pattern>/validate</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		
		<servlet-name>add_product</servlet-name>
		<servlet-class>com.servlet.add_product</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>add_product</servlet-name>
		<url-pattern>/pro_add</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		
		<servlet-name>addProCategory</servlet-name>
		<servlet-class>com.servlet.addProCategory</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>addProCategory</servlet-name>
		<url-pattern>/pro_cat</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		
		<servlet-name>get_categories</servlet-name>
		<servlet-class>com.servlet.get_categories</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>get_categories</servlet-name>
		<url-pattern>/getCate</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		
		<servlet-name>getProducts</servlet-name>
		<servlet-class>com.servlet.getProducts</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>getProducts</servlet-name>
		<url-pattern>/getPro/*</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		
		<servlet-name>delete_product</servlet-name>
		<servlet-class>com.servlet.delete_product</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>delete_product</servlet-name>
		<url-pattern>/deleteProduct</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		
		<servlet-name>edit_product</servlet-name>
		<servlet-class>com.servlet.getProductDetails</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>edit_product</servlet-name>
		<url-pattern>/ProDetails</url-pattern>
	
	</servlet-mapping>
	
	<servlet>
		
		<servlet-name>sendEdit_product</servlet-name>
		<servlet-class>com.servlet.Edit_product</servlet-class>
	
	</servlet>
	
	<servlet-mapping>
		
		<servlet-name>sendEdit_product</servlet-name>
		<url-pattern>/sendEditPro</url-pattern>
	
	</servlet-mapping>
	<servlet>
		
		<servlet-name>addToSale</servlet-name>
		<servlet-class>com.servlet.addToSale</servlet-class>
	
	</servlet>
	<servlet-mapping>
		
		<servlet-name>addToSale</servlet-name>
		<url-pattern>/ToSale</url-pattern>
	
	</servlet-mapping>
	<servlet>
		
		<servlet-name>deleteFromSale</servlet-name>
		<servlet-class>com.servlet.deleteFromSale</servlet-class>
	
	</servlet>
	<servlet-mapping>
		
		<servlet-name>deleteFromSale</servlet-name>
		<url-pattern>/deleteSale</url-pattern>
	
	</servlet-mapping>

</web-app>