@charset "ISO-8859-1";

.outerContainer{
	display:flex;
}
.navBar{
	flex:30%;
	
}

.tableContainer{

	flex:70%;	
	
}

.headerContainer{
	
	display:flex;
	gap:105px;
	border: 1px solid;
	height:50px;
	align-items:center;
	
	
}

.subContainer{
	
	display:flex;
	gap:115px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	height:50px;
	align-items:center;
	padding-left:35px;
	
	
}
.header{
	border-left:1px solid;
	padding-left:15px;
}


.proImage{
	width:30px;
	height:40px;
	margin-right:5px;
	
}





.subContainer:hover{
	background-color:#f0f2f5;
}

i:hover{
	color:red;
	
}