@charset "ISO-8859-1";

.outerContainer{
	display:flex;
}
.navBar{
	flex:30%;
}

.tableContainer{
	flex:70%;
	display:grid;
	grid-template: repeat(6,1fr)/repeat(6,1fr);
	border:1px solid;
}

.header{
	display:flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid;
	
}
.data{
	display:flex;
	border-bottom: 1px solid;
	height:40px;
	align-items: center;
	justify-content: center;
	
	
	
}

.line{
	border-left:1px solid black;
	height:20px;
	padding-right:7px;
	
	
}








