/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Nunito Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Nunito Sans", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	color: #e53637;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}

.section-title h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #00ff00;
	background: #000000;
	letter-spacing: 4px;
}

.site-btn {
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 14px 30px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}

.spacial-controls .search-switch {
	display: block;
	height: 100%;
	padding-top: 30px;
	background: #323232;
	text-align: center;
	cursor: pointer;
}

.search-model {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #000;
	z-index: 99999;
}

.search-model-form {
	padding: 0 15px;
}

.search-model-form input {
	width: 500px;
	font-size: 40px;
	border: none;
	border-bottom: 2px solid #333;
	background: 0 0;
	color: #999;
}

.search-close-switch {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #333;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-size: 28px;
	line-height: 28px;
	top: 30px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

/*---------------------
  Header
-----------------------*/

.header {
	background: #ffffff;
}

.header__top {
	background: #111111;
	padding: 10px 0;
}

.header__top__left p {
	color: #ffffff;
	margin-bottom: 0;
}

.header__top__right {
	text-align: right;
}

.header__top__links {
	display: inline-block;
	margin-right: 25px;
}

.header__top__links a {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 28px;
	display: inline-block;
}

.header__top__links a:last-child {
	margin-right: 0;
}

.header__top__hover {
	display: inline-block;
	position: relative;
}

.header__top__hover:hover ul {
	top: 24px;
	opacity: 1;
	visibility: visible;
}

.header__top__hover span {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	cursor: pointer;
}

.header__top__hover span i {
	font-size: 20px;
	position: relative;
	top: 3px;
	right: 2px;
}

.header__top__hover ul {
	background: #ffffff;
	display: inline-block;
	padding: 2px 0;
	position: absolute;
	left: 0;
	top: 44px;
	opacity: 0;
	visibility: hidden;
	z-index: 3;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__top__hover ul li {
	list-style: none;
	font-size: 13px;
	color: #111111;
	padding: 2px 15px;
	cursor: pointer;
}

.header__menu {
	text-align: center;
	padding: 26px 0 25px;
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	position: relative;
}

.header__menu ul li.active a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover a:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.header__menu ul li:hover .dropdown {
	top: 32px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li .dropdown {
	position: absolute;
	left: 0;
	top: 56px;
	width: 150px;
	background: #111111;
	text-align: left;
	padding: 5px 0;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.header__menu ul li .dropdown li {
	display: block;
	margin-right: 0;
}

.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	padding: 5px 20px;
	text-transform: capitalize;
}

.header__menu ul li .dropdown li a:after {
	display: none;
}

.header__menu ul li a {
	font-size: 18px;
	color: #111111;
	display: block;
	font-weight: 600;
	position: relative;
	padding: 3px 0;
}

.header__menu ul li a:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #e53637;
	content: "";
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.header__nav__option {
	text-align: right;
	padding: 30px 0;
}

.header__nav__option a {
	display: inline-block;
	margin-right: 26px;
	position: relative;
}

.header__nav__option a span {
	color: #0d0d0d;
	font-size: 11px;
	position: absolute;
	left: 5px;
	top: 8px;
}

.header__nav__option a .cart-amount {
	
	position:absolute;
	top:-10px;
	left:10px;
	bottom:10px;
	background-color:red;
	color:#ffffff;
	border-radius:50%;
	padding: 6px;
	width:25px;
	height:25px;
	
}

.header__nav__option a:last-child {
	margin-right: 0;
}

.header__nav__option .price {
	font-size: 15px;
	color: #111111;
	font-weight: 700;
	display: inline-block;
	margin-left: -20px;
	position: relative;
	top: 3px;
}

.offcanvas-menu-wrapper {
	display: none;
}

.canvas__open {
	display: none;
}

/*---------------------
  Breadcrumb
-----------------------*/

.breadcrumb-option {
	background: #f3f2ee;
	padding: 40px 0;
}

.breadcrumb__text h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 8px;
}

.breadcrumb__links a {
	font-size: 15px;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.breadcrumb__links a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "ï„…";
	font-family: "FontAwesome";
}

.breadcrumb__links span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
}

/*---------------------
  Breadcrumb Blog
-----------------------*/

.breadcrumb-blog {
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 350px;
}

.breadcrumb-blog h2 {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
}

/*---------------------
  Checkout
-----------------------*/

.coupon__code {
	color: #0d0d0d;
	font-size: 14px;
	border-top: 2px solid #77b527;
	background: #f5f5f5;
	padding: 23px 30px 18px;
	margin-bottom: 50px;
}

.coupon__code span {
	margin-right: 15px;
}

.coupon__code a {
	color: #0d0d0d;
}

.checkout__title {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 25px;
	margin-bottom: 30px;
}

.checkout__input {
	margin-bottom: 6px;
}

.checkout__input p {
	color: #111111;
	margin-bottom: 12px;
}

.checkout__input p span {
	color: #e53637;
}

.checkout__input input {
	height: 50px;
	width: 100%;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #b7b7b7;
	padding-left: 20px;
	margin-bottom: 20px;
}

.checkout__input input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.checkout__input input::-moz-placeholder {
	color: #b7b7b7;
}

.checkout__input input:-ms-input-placeholder {
	color: #b7b7b7;
}

.checkout__input input::-ms-input-placeholder {
	color: #b7b7b7;
}

.checkout__input input::placeholder {
	color: #b7b7b7;
}

.checkout__input__checkbox label {
	font-size: 15px;
	color: #0d0d0d;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	margin-bottom: 16px;
	display: block;
}

.checkout__input__checkbox label input {
	position: absolute;
	visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
	border-color: #e53637;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
	opacity: 1;
}

.checkout__input__checkbox label .checkmark {
	position: absolute;
	left: 0;
	top: 3px;
	height: 14px;
	width: 14px;
	border: 1.5px solid #d7d7d7;
	content: "";
	border-radius: 2px;
}

.checkout__input__checkbox label .checkmark:after {
	position: absolute;
	left: 1px;
	top: -3px;
	width: 14px;
	height: 7px;
	border: solid #e53637;
	border-width: 1.5px 1.5px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	content: "";
	opacity: 0;
}

.checkout__input__checkbox p {
	color: #0d0d0d;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 22px;
}

.checkout__order {
	background: #f3f2ee;
	padding: 30px;
}

.checkout__order .order__title {
	color: #111111;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 1px solid #d7d7d7;
	padding-bottom: 25px;
	margin-bottom: 30px;
}

.checkout__order p {
	color: #444444;
	font-size: 13px;
	line-height: 23px;
}

.checkout__order .site-btn {
	width: 100%;
	margin-top: 8px;
}

.checkout__order__products {
	font-size: 16px;
	color: #111111;
	overflow: hidden;
	margin-bottom: 18px;
}

.checkout__order__products span {
	float: right;
}

.checkout__total__products {
	margin-bottom: 20px;
}

.checkout__total__products li {
	font-size: 16px;
	color: #444444;
	list-style: none;
	line-height: 26px;
	overflow: hidden;
	margin-bottom: 15px;
}

.checkout__total__products li:last-child {
	margin-bottom: 0;
}

.checkout__total__products li span {
	color: #111111;
	float: right;
}

.checkout__total__all {
	border-top: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	padding: 10px 0;
	margin-bottom: 15px;
}

.checkout__total__all li {
	list-style: none;
	font-size: 16px;
	color: #111111;
	line-height: 40px;
	overflow: hidden;
}

.checkout__total__all li span {
	color: #e53637;
	font-weight: 700;
	float: right;
}
.checkout__total__products li p{
	
	font-size:11px;
}

/*---------------------
  Footer
-----------------------*/

.footer {
	background: #111111;
	padding-top: 70px;
}

.footer__about {
	margin-bottom: 30px;
}

.footer__about .footer__logo {
	margin-bottom: 30px;
}

.footer__about .footer__logo a {
	display: inline-block;
}

.footer__about p {
	color: #b7b7b7;
	margin-bottom: 30px;
}

.footer__widget {
	margin-bottom: 30px;
}

.footer__widget h6 {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.footer__widget ul li {
	line-height: 36px;
	list-style: none;
}

.footer__widget ul li a {
	color: #b7b7b7;
	font-size: 15px;
}

.footer__widget .footer__newslatter p {
	color: #b7b7b7;
}

.footer__widget .footer__newslatter form {
	position: relative;
}

.footer__widget .footer__newslatter form input {
	width: 100%;
	font-size: 15px;
	color: #3d3d3d;
	background: transparent;
	border: none;
	padding: 15px 0;
	border-bottom: 2px solid #ffffff;
}

.footer__widget .footer__newslatter form input::-webkit-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::-moz-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input:-ms-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::-ms-input-placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form input::placeholder {
	color: #3d3d3d;
}

.footer__widget .footer__newslatter form button {
	color: #b7b7b7;
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 0;
	height: 100%;
	background: transparent;
	border: none;
}

.footer__copyright__text {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	padding: 20px 0;
	margin-top: 40px;
}

.footer__copyright__text p {
	color: #b7b7b7;
	margin-bottom: 0;
}

.footer__copyright__text p i {
	color: #e53637;
}

.footer__copyright__text p a {
	color: #e53637;
}


