@charset "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.sidebar-list-item a{
	text-decoration: none;
	color:#ffffff;
	
}
.header-left{
	
	display:flex;
	flex-direction: row;
	align-items:center;
	gap:4px;
}
.logout{
	
	cursor:pointer;
	
}
.logout:hover{
	
	color:#cc3c43;
}
.menu-icon {
  display: none;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #21232d;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}


/* ---------- MAIN ---------- */

.main-container {
	 grid-area: main;
	 overflow-y: auto;
	 padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
}


.navBar{
	flex:20%;
	
}
.productContainer{
	
	flex:80%;
}

.update-container{
	
	display:flex;
	gap:25px;
	
}
.proDetails{
	
	height:160px;
	width:400px;
	padding-top:16px;
	margin-bottom: 20px;
	border-radius:7px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.wrapper{
	
	display:flex;
	align-items:center;
	gap:10px;
	height:20px;
	margin-left:16px;
	
}
.ImageWrapper{
	
	display:flex;
	align-items:center;
	gap:18px;
	margin-left: 16px;
	margin-bottom:10px;
	height:50px;
	
	
}
.firstImg{
	
	width:40px;
	height:50px;
	border-radius:7px;
	
}

.editPro{
	position: relative;
	width:600px;
	height:400px;
	padding-left:12px;
	padding-top:16px;
	border-radius:7px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
	
}
.ImageWrapper2{
	position:absolute;
	top:110px;
	left:430px;
	height:150px;
	width:100px;
	
}
.secondImg{
	height:165px;
	width:116px;
	
}
.button_outer {
	
	text-align: center;
	height: 50px;
	width: 130px;
	display: inline-block;
 	transition: .2s;
  	position: relative;
  	overflow: hidden;
}
.btn_upload {
	
	color: #fff;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: hidden;
	z-index: 3;
	white-space: nowrap;
}
.btn_upload input {
	position: absolute;
 	width: 100%;
  	left: 0;
  	top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}
#upload-icon{
	
	padding-top:6px;
	font-size:25px;
	color:black;
	
}

i:hover{
	
	color:red;
	
}


#someul{
	position: absolute;
	z-index:2;
	padding:0px;
	width:206px;
	height:60px;
	overflow-y: scroll;
	background-color:#ffffff;
	
	
}
.liitems:hover{
	background-color:gray;
	margin-bottom:2px;
}

/*discount add --------------------------------------------------*/

.discountAdd{
	
	height:400px;
	width:400px;
	padding-left:12px;
	padding-top:16px;
	border-radius:7px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
	
}

.no-discount{
	
	display:flex;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	height:400px;
	
}
