
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.sidebar-list-item a{
	text-decoration: none;
	color:#ffffff;
	
}
.header-left{
	
	display:flex;
	flex-direction: row;
	align-items:center;
	gap:4px;
}
.logout{
	
	cursor:pointer;
	
}
.logout:hover{
	
	color:#cc3c43;
}
.menu-icon {
  display: none;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #21232d;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/*----- main-------------------*/
.top-main-container{
	margin-top:15px;
	display:flex;
	gap:200px;
}



.orderDetails{
	
	height:160px;
	width:400px;
	padding-top:16px;
	margin-left:20px;
	margin-bottom: 20px;
	border-radius:7px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
	
}

.userDetails{
	
	height:210px;
	width:400px;
	padding-top:16px;
	margin-left:20px;
	margin-bottom: 20px;
	border-radius:7px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
	
	
}

.orderDetails h5{
	
	margin-left:16px;
	margin-bottom:15px;
}



.userDetails h5{
	
	margin-left:16px;
	margin-bottom:15px;
}


.wrapper{
	
	height:20px;
	margin-left:16px;
	margin-bottom:5px;
	
}
.wrapper h6,.wrapper p{
	
	display:inline;
	
}

.oederItems-Container{

	width:930px;
	margin-top:60px;
	margin-left:10px;
}

.headerContainer{
	
	display:flex;
	gap:50px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	border-top: 1px solid;
	width:930px;
	height:50px;
	align-items:center;

		
}

.headerdata-ItemId{
	border-left:1px solid;
	padding-left:10px;
	width:50px;
		
}
.headerdata-Image{
	border-left:1px solid;
	padding-left:10px;
	width:200px;
		
}

.headerdata-Product{
	border-left:1px solid;
	padding-left:10px;
	width:300px;
		
}
.headerdata-Price{
	border-left:1px solid;
	padding-left:10px;
	width:300px;
		
}

.headerdata-Quantity{
	border-left:1px solid;
	padding-left:10px;
	
		
}

.headerdata-Total{
	border-left:1px solid;
	padding-left:10px;
	width:400px;
		
}

.subContainer{
	
	display:flex;
	gap:50px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	width:930px;
	height:50px;
	align-items:center;
	
}

.proImage{
	width:30px;
	height:40px;
	margin-right:20px;
	
}

.itemId{
	
	width:100px;
	padding-left:10px;
	
}

.image-holder{
	
	width:50px;
	
}

.product-name{
	
	width:140px;
	
}

.price{
	
	width:170px;
	
}
.quantity{
	
	width:60px;
}

.total-container{
	
	display:flex;
	gap:50px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	width:930px;
	height:50px;
	padding-right:50px;
	align-items:center;
	justify-content:right;
	
}
