@charset "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.sidebar-list-item a{
	text-decoration: none;
	color:#ffffff;
	
}
.header-left{
	
	display:flex;
	flex-direction: row;
	align-items:center;
	gap:4px;
}
.logout{
	
	cursor:pointer;
	
}
.logout:hover{
	
	color:#cc3c43;
}
.menu-icon {
  display: none;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #21232d;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}


/* ---------- MAIN ---------- */

.main-container {
	display: flex;
}

.main-title1 {
 	position: absolute;
}
.main-title2 {
 	position: absolute;
 	left:0;
 	top:75px;
 	left:890px;
}
.main-title > p {
  font-size: 20px;
}


.products-Container{

	width:560px;
	margin-top:60px;
	margin-left:10px;
}

.headerContainer{
	
	display:flex;
	gap:60px;
	border: 1px solid;
	width:560px;
	height:50px;
	align-items:center;

		
}

.headerdata{
	border-left:1px solid;
	padding-left:10px;
	width:500px;
		
}
.subContainer{
	
	display:flex;
	gap:50px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	height:50px;
	align-items:center;
	
}

.id{
	
	width:10px;
	padding-left:6px;
	
	
}
.name{
	display:flex;
	align-items:center;
	width:200px;
	margin-left:20px;
	
	
}
.proImage{
	width:30px;
	height:40px;
	margin-right:20px;
	
}


.price{
	width:85px;
		
}

.action{
	display:flex;
	gap:15px;
	width:80px;
	margin-left:10px;
	
	
}

.btn1{
	
	background-color: #2ec54c;
	border:none;
	width:50px;
	height:25px;
	border-radius:6px;
	color:#ffffff;
	cursor:pointer;
}


.subContainer:hover{
	background-color:#f0f2f5;
}

i:hover{
	color:red;
	cursor:pointer;
	
}
/*---------------deleteing all items --------------------------------------------------*/
.no-records{
	display:flex;
	align-items:center;
	justify-content:center;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
	height:160px;
	background-color:#f0f2f5;
}
/*--------------------------------------------------------------/
/*----------------add product----------------------------------*/
.new-product-container{
	
	width:400px;
	
}
.table-container{
	margin-top:60px;
	margin-left:70px;
	width:600px;
	height:400px;
}


#someul{
	
	z-index:2;
	margin:0px;;
	padding:0px;
	width:195px;
	height:60px;
	overflow-y: scroll;
	background-color:#ffffff;
	
	
}
.liitems:hover{
	background-color:gray;
	margin-bottom:2px;
}

.ImageWrapper{
	position:absolute;
	top:150px;
	left:1220px;
	height:150px;
	width:100px;
	
}


#not-up{
	height:100px;
	width:100px;
	padding-left:15px;
}
.secondImg{
	height:145px;
	width:107px;
	
}
.button_outer {
	
	text-align: center;
	height: 50px;
	width: 130px;
	display: inline-block;
 	transition: .2s;
  	position: relative;
  	overflow: hidden;
}
.btn_upload {
	
	color: #fff;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: hidden;
	z-index: 3;
	white-space: nowrap;
}
.btn_upload input {
	position: absolute;
 	width: 100%;
  	left: 0;
  	top: 0;
    width: 100%;
    height: 105%;
    cursor: pointer;
    opacity: 0;
}
#upload-icon{
	
	padding-top:6px;
	font-size:25px;
	color:black;
	
}
.btn-primary{
	margin-top:25px;
	margin-left:150px;
}
