@charset "ISO-8859-1";

.outerContainer{
	display:flex;
}
.navBar{
	flex:20%;
	
}
#saleItems{
	
	flex:40%;
}


/*------------------------------------------------------------*/
/* add new products to the sale---------------------------------*/

.add-item-main-container{
	
	flex:40%;
}
.addNewHolder{
	display:flex;
	flex-direction: column;
	align-items:center;
	padding-top:10px;
	padding-left:8px;
	border-radius:7px;
	height:300px;
	overflow-y: scroll;
}
.subContainer{
	
	display:flex;
	width:450px;
	padding-left:10px;
	border-radius:6px;
	background-color:#ffffff;
	align-items:center;
	margin-bottom:10px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.wrapper{
	
	display:flex;
	gap:10px;
	align-items:center;
	width:400px;
}
.newProImage{
	
	width:40px;
	height:50px;
}


/*-----------------------------------------------------------------------*/
/* pop up window--------------------------------------------------------*/

#popup1{
	display:flex;
	align-items:center;
	justify-content:center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	
}
#close{
	position:absolute;
	top:4px;
	right:25px;
	cursor: pointer;
	color:#ffffff;
	font-size:40px;
	
}

#popUp-sub-container{
	display:flex;
	align-items:center;
	justify-content:center;
	width:900px;
	height:800px;
	
	
}
.popUp-image-wrapper{
	flex:50%;
	
}
.popUp-product-details{
	flex:50%;
	background-color:#ffffff;
	width:455px;
	height:657px;
	padding-top:13px;
	padding-left:17px;
}
.popUp-image{
	
	width:455px;
	height:657px;
	object-fit: cover;
}


.pop_warapper h6,.pop_warapper p{
	display: inline;
    
}


#pro-Sale-Details-Holder #input-error{
	margin-top:5px;
	color:#c62828;
	display:none;
	
}




