@charset "ISO-8859-1";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
}

.text-primary {
  color: #666666;
}

.text-blue {
  color: #246dec;
}

.text-red {
  color: #cc3c43;
}

.text-green {
  color: #367952;
}

.text-orange {
  color: #f5b74f;
}

.font-weight-bold {
  font-weight: 600;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.sidebar-list-item a{
	text-decoration: none;
	color:#ffffff;
	
}
.header-left{
	
	display:flex;
	flex-direction: row;
	align-items:center;
	gap:4px;
}
.logout{
	
	cursor:pointer;
	
}
.logout:hover{
	
	color:#cc3c43;
}
.menu-icon {
  display: none;
}


/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #21232d;
  color: #9799ab;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar 
    on small screens
  */
  z-index: 12 !important;
}

/* ---------- MAIN ----------------------------------------------- */

.main-container {
	 display:flex;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
}



/*sale products-----------------------------------------------------*/
#saleItems{
	display: grid;
  	grid-template-columns: auto auto auto;
	row-gap: 40px;
	width:450px;
	margin-top:60px;
}

.sale-header{
	position:absolute;
	top:20px;
	left:470px;
	
}
.subContainer .proImage{
	
	height: 98px;
	width:70px;
	
	
}
#delete:hover{
	
	color:red;
	cursor:pointer;
}

/*------------------------------------------------------------*/
.center-margin{
	
	border-left: 4px solid #959695;
  	height: 500px;
  	border-radius:15px;
  	margin-top:60px;
	margin-right:10px;
}


/* add new products to the sale---------------------------------*/
#add-new{
	
	display:flex;
	flex-direction: column;
	align-items:center;	
	margin-top:px;
	
	
}

#hideHeader{
	margin-top:35px;
	
}
.add-item-main-container{
	width:510px;
	
}
.addNewHolder{
	display:flex;
	flex-direction: column;
	align-items:center;
	margin-top:40px;
	padding-top:100px;
	padding-left:8px;
	border-radius:7px;
	width:550px;
	height:300px;
	overflow-y: scroll;
}
.subContaineradd{
	
	display:flex;
	width:450px;
	padding-left:10px;
	border-radius:6px;
	background-color:#ffffff;
	align-items:center;
	margin-bottom:10px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.wrapper{
	
	display:flex;
	gap:10px;
	align-items:center;
	width:400px;
}
.newProImage{
	
	width:40px;
	height:50px;
}


/*-----------------------------------------------------------------------*/
/* pop up window--------------------------------------------------------*/

#popup1{
	display:flex;
	align-items:center;
	justify-content:center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	visibility: hidden;
	
}
#close{
	position:absolute;
	top:4px;
	right:25px;
	cursor: pointer;
	color:#ffffff;
	font-size:40px;
	
}

#popUp-sub-container{
	display:flex;
	align-items:center;
	justify-content:center;
	width:900px;
	height:800px;
	
	
}
.popUp-image-wrapper{
	flex:50%;
	
}
.popUp-product-details{
	flex:50%;
	background-color:#ffffff;
	width:455px;
	height:657px;
	padding-top:13px;
	padding-left:17px;
}
.popUp-image{
	
	width:455px;
	height:657px;
	object-fit: cover;
}


.pop_warapper h6,.pop_warapper p{
	display: inline;
    
}


#pro-Sale-Details-Holder #input-error{
	margin-top:5px;
	color:#c62828;
	display:none;
	
}
#pro-Sale-Details-Holder .btn btn-success{
	
	margin-left:10px;
}



